################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchitectureExample/FileContentIndex/145e3340-19ba-481f-a33b-ab36d7db8be2.vsidx
/CleanArchitectureExample.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/CleanArchitectureExample.Domain/obj/Debug/net7.0/CleanArchitectureExample.Domain.AssemblyInfo.cs
/CleanArchitectureExample.Domain/obj/Debug/net7.0/CleanArchitectureExample.Domain.AssemblyInfoInputs.cache
/CleanArchitectureExample.Domain/obj/Debug/net7.0/CleanArchitectureExample.Domain.csproj.AssemblyReference.cache
/CleanArchitectureExample.Domain/obj/Debug/net7.0/CleanArchitectureExample.Domain.GeneratedMSBuildEditorConfig.editorconfig
/CleanArchitectureExample.Domain/obj/Debug/net7.0/CleanArchitectureExample.Domain.GlobalUsings.g.cs
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Application.pdb
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Domain.dll
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Domain.pdb
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Infrastructure.deps.json
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Infrastructure.dll
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Infrastructure.pdb
/CleanArchitectureExample.Infrastructure/bin/Debug/net7.0/CleanArchitectureExample.Infrastructure.runtimeconfig.json
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/ref/CleanArchitectureExample.Infrastructure.dll
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/refint/CleanArchitectureExample.Infrastructure.dll
/CleanArchitectureExample.Infrastructure/obj/CleanArchitectureExample.Infrastructure.csproj.nuget.dgspec.json
/CleanArchitectureExample.Infrastructure/obj/CleanArchitectureExample.Infrastructure.csproj.nuget.g.props
/CleanArchitectureExample.Infrastructure/obj/CleanArchitectureExample.Infrastructure.csproj.nuget.g.targets
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.AssemblyInfo.cs
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.AssemblyInfoInputs.cache
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.assets.cache
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.csproj.AssemblyReference.cache
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.csproj.CopyComplete
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.csproj.CoreCompileInputs.cache
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.csproj.FileListAbsolute.txt
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.dll
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.genruntimeconfig.cache
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.GlobalUsings.g.cs
/CleanArchitectureExample.Infrastructure/obj/Debug/net7.0/CleanArchitectureExample.Infrastructure.pdb
/CleanArchitectureExample.Infrastructure/obj/project.assets.json
/CleanArchitectureExample.Infrastructure/obj/project.nuget.cache
