################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.deps.json
*.runtimeconfig.json
*.dll
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.dll
*.editorconfig
*genruntimeconfig.cache
*.pdb
*project.assets.json
*.cache
*read.lock
*v17
*.vsidx
*.BuildWithSkipAnalyzers
*.cs
*.CopyComplete
*.txt
*.exe
*.props
*.json
